html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.grandParentContaniner{
    display: table;
    height: 100%;
    margin: 0 auto;
}
.parentContainer{
    display: table-cell;
    vertical-align: middle;
}
#loginForm{
    width: 400px;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}